# Toradocu's output folders
/tmp/
/aspects/

# Troadocu precision/recall results
results.csv
results_current.csv
results_tcomment.csv
results_toradocu.csv
config_check_results.csv
results.csv-*

# Scripts for code formatting
/.run-google-java-format/

# Generated latex tables
/latex_tables/

# Generated Randoop specifications
/randoop-specs/

# Toradocu's test resources (downloaded automatically on gradle test)
/src/test/resources/*.zip
/src/test/resources/*.jar
/src/test/resources/*
!/src/test/resources/Guava-19
!/src/test/resources/CommonsCollections-4.1
!/src/test/resources/CommonsMath-3.6.1
!/src/test/resources/FreeCol
!/src/test/resources/JGrapht-0.9.2
!/src/test/resources/PlumeLib-1.1.0
/converted-goal-files/

# Emacs backup files
*~

# Eclipse IDE
/bin/
/.settings/
/.externalToolBuilders/
.project
.classpath

# IntelliJIDEA IDE
.idea

# Gradle
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Java
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle-wrapper.jar
!/lib/*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
