# Toradocu's output folders
/tmp/
/aspects/
/conditions/

# Toradocu's test resources (test subjects' source code and binaries are downloaded automatically on gradle test)
/src/test/resources/src
/src/test/resources/bin

# Toradocu's tutorial generated or downloaded files
/tutorial/aspects
tutorial/notes-toradocu-demo.txt

# Toradocu precision/recall summary
results.csv
tcomment_results.csv

# Temporary files used to compute statistics with different Toradocu configurations
/stats/*.txt

# Eclipse IDE
/bin/
/.settings/
/.externalToolBuilders/
.project
.classpath

# IntelliJ IDEA
/.idea/
/out/

# Gradle
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# Java
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle-wrapper.jar
!/lib/*.jar
*.war
*.ear

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mac OS X files
.DS_Store

# Emacs temp files
*~

# Python scripts to check style
/.run-google-java-format/
